extends layout

block content
    h1= title
    form(method="post" action="/createEvent" id="form")
        p Input event code
        textarea(name="eventCode")
        input(style="float: right" type="submit")
