nav.navbar
    ul
        li
            a(href="/") Home
        li
            a(href="/matchForm") Match Form
        li
            a(href="/calcAnalytics") Calc Analytics
        li
            a(href="/dispAnalytics") Display Analytics
        li
            a(href="/createEvent") Create Event
